body{
    background-image: linear-gradient(to bottom, rgb(109, 207, 109), rgb(90, 179, 90), rgb(63, 126, 63), darkgreen, black);
    font-family: sans-serif;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: opx 7px 7px black;
    text-align: start;
}

nav > a{
    color: white;
    padding: 10px; 
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: rgb(228, 255, 228);
    color: black;
    font-weight: bold;
    border-radius: 3px;
}

main{
    min-width: 300px;
    max-width: 1500px;
    background-color: white;
    margin-bottom: 30px;
    margin:auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav{
    font-family: sans-serif;
    color: white;
}

nav:hover{
    font-family: sans-serif;
    color: mediumaquamarine
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-shadow: 2px 2px 2px;
    color: white;
    text-align: center;
}

header > h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 2px;
    color: white;
    text-align: center;
}

main > h2{
    color:rgb(91, 167, 91)
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(209, 252, 209), white)
}

main > p{
    text-align: justify;
    font-family: sans-serif;
}

aside > h3{
    background-image: linear-gradient(to left, rgb(95, 199, 95), rgb(95, 199, 95));
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    color: white;
}

aside{
    background-color: rgb(185, 243, 195);
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px rgb(75, 74, 74);
    box-shadow: 5px 5px 5px rgb(102, 102, 102);
}

aside > p{
    font-family: sans-serif;
    text-align: justify;
}

aside > ul{
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
